.card {
  position: relative;
  box-shadow: 4px 16px 24px rgba(0, 0, 0, 0.5);
  transition:
    transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1),
    box-shadow 0.4s ease;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.4);
  box-shadow: 4px 16px 24px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 1;
}

.heroName {
  position: absolute;
  bottom: 0px;
  left: 10px;
  font-size: min(1.5rem, 2vw);
  font-weight: 800;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    bottom 0.6s ease;
}

.card:hover .heroName {
  opacity: 1;
  bottom: 10px;
}
