* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
:root {
  --background-color: #818f98;
  --text-color: white;
  --primary-color: #bf1f1f;
  --secondary-color: #f24c27;
  --tertiary-color: #731212;
  --accent: #8c7568;

  font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
  font-size: clamp(12px, 1.5vw, 16px);
}
a {
  color: var(--text-color);
}
h1 {
  font-size: min(2rem, 5vw);
}

body {
  /* background-color: var(--background-color); */
  background-image: url("../src/assets/bg.png");
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
