* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
:root {
  --background-color: #818f98;
  --text-color: white;
  --primary-color: #bf1f1f;
  --secondary-color: #f24c27;
  --tertiary-color: #731212;
  --accent: #8c7568;

  font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
}
a {
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
